.tocmovedtocolumn{
	float: none !important;
	background-color: transparent !important;
	margin: 0px !important;
	text-align: right !important;
}

.tocmovedtocolumn ul {
	padding-left: 8px !important;
	margin-left: 0.35em !important;
	/*background-color: orange !important;*/
	/*border: 3px ridge black;*/ /*debug*/ 
	border-left: 1px solid black;

	text-align: left !important;

}

#config__manager td.label {
	padding: 0px 0 .6em 1em;
}

textarea { font-family: 'Courier New', 'Courier', monospace; }
#config__manager td.label span.outkey { font-size: 1em; margin-top: 0.0em; margin-bottom: 0.35em; }
ul ul { margin-left: 0.85em; }
#dw__toc { background-color: #f7f7f7; border-color: #cccccc; }
.breadcrumbs { margin: 1em 0px; }
button { margin: 8px 3px; }
.page li, .page dd { margin: 0px 0em 0.35em 1em; }
#mediamanager__page .file { width: 90%; clear: both; }
.notify { 
	margin: 1em 0px !important; 
	border-radius: 0px !important;
	background-color: #f7f7f7 !important;
	/*border: 0px !important;*/
	border-color: #cccccc !important;
}
#dw__search button { margin: 0.85em 0px; }
.notify:last-of-type { 
	/*background-color: orange !important; */
	margin-bottom: 2.15em !important; 
}
#writtensidebar a { background-image: none; padding: 0px; }

h1, h2, h3, h4, h5 ,h6 {
	line-height: 22px;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
}

#writtensidebar ul li a:link, #writtensidebar ul li a:visited {
margin:0;
padding:0;
font-size:11px;
border-bottom:1px dotted #FFF;
text-transform:uppercase;
letter-spacing:1px;
}

#writtensidebar h1 {
	margin: 0 0px 0px 20px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	color: #A00;
	/*background-color: #fff;*/
	position: relative;
	border-bottom: 1px dotted #A00;
}

  td.label { word-wrap: anywhere; min-width: 10em; }

  /* config manager */

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }

  
     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }



/* ------- */
